# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac stuff
*.dSYM
*.DS_Store
.DS_Store

# langauge server
.ccls-cache/*

# Any compressed files
*.tar.gz

# Static analysis stuff
.cache

# Made using `bear -- make`, meant to be used by CppCheck
# Make sure to remove all lines for boost and msgpack
# as they cause preprocessor directive errors for CppCheck
# took a little while to figure that out
compile_commands.json

# The build directory
build/*
# Cmake-Project prefers bin by default
bin/*

# VS-Code junk
.vscode/*

# LaTeX source
*.tex

# Wrong pdf
src/docs/*.pdf

.clangd
