# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac stuff
*.dSYM
*.DS_Store

# data files
data/*
# Compiled stuff
bin/*
# Be extra sure no objects
./src/objects/*
# Any compressed files
*.tar.gz
# Any csv files
*.csv
# Any sac files
*.sac
*.SAC
# Dumb MacOS
.DS_Store
# Static analysis stuff
.cache